<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="Restaurant Management"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant_Management"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".View.HistoryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".View.BillDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".View.BillActivity"
            android:exported="false" />
        <activity
            android:name=".View.RevenueActivity"
            android:exported="false" />
        <activity
            android:name=".View.KitchenActivity"
            android:exported="false" />
        <activity
            android:name=".View.TableActiveActivity"
            android:exported="false" />
        <activity
            android:name=".View.OrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.DishCategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".View.DishManagementActivity"
            android:exported="false" />
        <activity
            android:name=".View.TableManagementActivity"
            android:exported="false" />
        <activity
            android:name=".View.TableAreaManagementActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".View.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".View.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>